

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
.home-content{
    align-items: flex-start;
}
.header{
    background-color: black;
    padding: 0.5rem;
}
.card-text{
    color: white;
    margin-left: 100px;
}
.col-sm-4{
    padding: 1rem;
}
#btn{
    border-radius: 8px;
}
#btn-btn{
    text-align: center;
    margin: auto;
}